body {
    line-height: 1.6;
    background-color: #EEEEEE;
    margin: 40px auto;
    max-width: 650px;
    font-size: 18px;
    color: #444;
}

footer {
   border: 0.5px solid grey; 
   padding: 10px;
}
