@font-face {
      font-family: 'Google Sans';
      font-style: normal;
      font-weight: 400 700;
      src: url(https://fonts.gstatic.com/s/googlesans/v29/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)format('woff2');
}

html, body {
        font-family: 'Google Sans';
        height: 100%;
        overflow: hidden;
        background-color: #FFFFFF;
        margin: 40px auto;
        font-size: 18px;
        color: #444;
}

body {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}

textarea {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #2962ff;
}

img {
     border: none;
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
}

#google_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
#navbar_left, #footer_up, #footer_down_left {
    align: left;
    color: red;
}

#navbar_right, #footer_down_right {
    align: right;
}

li {
    display: inline-block;
}

footer {
    background-color:#EEE;
    border-top: 0.5px #000;
    width: 100%;
}
