body {
    line-height: 1.6;
    background-color: #000000;
    margin: 2em auto;
    max-width: 800px;
    font-size: 18px;
    color: #454545;
    font-family: Open Sans, Arial;
}

footer {
   border: 0.5px solid grey; 
   padding: 10px;
}

.high-contrast{
   background-color: red;
   color:#050505; 
}

.high-contrast a{
   color: red; 
}

.toggle-light{
    background: black;
    color: white;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
}
